:root {
    --black-1: #2d2d2d;
    --black-2: #797979;
    --black-3: #222222;
}
html{
    background-color: #222222;
    height: 100%;

}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a{
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;

}


.header {
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 12, 5rem;
    background: linear-gradient(135deg, var(--black-1), var(--black-2));
    box-shadow: 0 2px 2px 2px rgb(156, 156, 244);
}


.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 180px;
}


.header-container .profile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.profile .pf-ident {
    margin-left: 1rem;
}


.profile .logo {
    width: 150px;
    height: 150px;
}

.profile .logo img {
    width: 100%;
    border-radius: 50%;
}

.pf-ident h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 0.3rem;
}

.profile h2 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.header-container .button-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #000;
}

.button-menu .btn1 {
    width: 38px;
    height: 5px;
    border-radius: 10px;
    background-color: #fff;
}

.header-container ul {
    display: flex;
    justify-content: space-between;
}

.header-container ul li {
    font-size: 1.1rem;
    padding: 0.5rem;
    border-bottom: 2px solid #fff;
}

.header-container li+li {
    margin-left: 2rem;

}

.header-container ul li:hover {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: 0.75s ease-in-out;
    background-color: #2d2d2d;
}

.header-container a {
    color: #fff;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    width: 100%;
    height: 100%;
    background-color: #222222;
    box-shadow: 0 2px 2px 2px rgb(156, 156, 244);
    position: sticky;
}

main h1 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 4px;
}

.main-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pjs {

    width: 100%;
    height: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.pjs .pj {
    background-color: rgb(194, 191, 191);
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pj span {
    background-color: #2d2d2d;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: rgb(248, 248, 248);
    font-size: 1.3rem;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135deg, var(--black-1), var(--black-2));
    padding-top: 20px;
    padding-bottom: 20px;
}


.footer-container h3{
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-container .ft-1{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #000;
    border-right:1px solid #000;
}

.ft-1 span{
    margin:10px;
}



/******************Responsive*/
@media only screen and (max-width: 800px) {
    .header-container .button-menu {
        display: flex;

    }

    .profile .logo {
        width: 75px;
        height: 75px;
    }

    .profile .logo img {
        width: 100%;
    }

    .profile h1 {
        font-size: 1.5rem;
    }

    .profile h2 {
        font-size: 0.75rem;
    }

    .header-container ul {
        display: none;

    }

    /****************************Main************************************/

    .pjs .pj {
        border-radius: 25px;
        width: 150px;
        height: 150px;
    }

    .pj span {
        font-size: 10px;
    }
    /**************Footer***********/

    footer{
        display: inline-block;
        width: 100%;
    }

    .footer-container .ft-1{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #797979;
    }
}

@media only screen and  (max-width: 500px)  and (min-width: 360px) {
    .header-container {
        display: flex;
        flex-wrap: nowrap;
    }

    .header-container .button-menu {
        display: flex;
        width: 30px;
        height: 30px;
    }

    .button-menu .btn1 {
        width: 20px;
        height: 2px;
        border-radius: 8px;
        background-color: #fff;
    }


    .profile .logo {
        width: 35px;
        height: 35px;
    }

    .profile .logo img {
        width: 100%;
    }

    .profile h1 {
        font-size: 1rem;
    }

    .profile h2 {
        font-size: 0.45rem;
    }

    .header-container ul {
        display: none;

    }

 
    .pjs .pj {
        border-radius: 18px;
        width: 100px;
        height: 100px;
    }

    .pj span {
        font-size: 10px;
    }
}


/*Responsive*/