:root {
    --black-1: #2d2d2d;
    --black-2: #797979;
    --black-3: #222222;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: sticky;;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 12, 5rem;
    background: linear-gradient(135deg, var(--black-1), var(--black-2));
    box-shadow: 0 2px 2px 2px rgb(156, 156, 244);
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header-container .profile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.profile .pf-ident {
    margin-left: 1rem;
}

.profile .logo {
    width: 150px;
    height: 150px;
}

.profile .logo img {
    width: 100%;
    border-radius: 50%;
}

.pf-ident h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 0.3rem;
}

.profile h2 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.header-container .button-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #000;
}

.button-menu .btn1 {
    width: 38px;
    height: 5px;
    border-radius: 10px;
    background-color: #fff;
}

.header-container ul {
    display: flex;
    justify-content: space-between;
}

.header-container ul li {
    font-size: 1.1rem;
    padding: 0.5rem;
    border-bottom: 2px solid #fff;
}

.header-container li+li {
    margin-left: 2rem;

}

.header-container ul li:hover {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: 0.75s ease-in-out;
    background-color: #2d2d2d;
}

.header-container a {
    color: #fff;
    text-transform: uppercase;
}
main{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 1000px;
    background-color: #222222;
}
main h1{
    
    padding: 10px;
    background-color: #fff;
}





/******************Responsive*/
@media only screen and (max-width: 800px) {
    .header-container .button-menu {
        display: flex;
    }

    .profile .logo {
        width: 75px;
        height: 75px;
    }

    .profile .logo img {
        width: 100%;
    }

    .profile h1{
        font-size: 1.5rem;
    }

    .profile h2{
        font-size: 0.75rem;
    }

    .header-container ul{
        display: none;

    }
}

@media only screen and (max-width: 500px) {
    .header-container .button-menu {
        display: flex;
        width: 30px;
        height: 30px;
    }
    .button-menu .btn1 {
        width: 20px;
        height: 2px;
        border-radius: 8px;
        background-color: #fff;
    }
    

    .profile .logo {
        width: 35px;
        height: 35px;
    }

    .profile .logo img {
        width: 100%;
    }

    .profile h1{
        font-size: 1rem;
    }

    .profile h2{
        font-size: 0.45rem;
    }

    .header-container ul{
        display: none;

    }
}
/*Responsive*/